{% for post in all_posts %}
    <div class="post">
        <span class="firstspan"><a href="{% url 'user_account' post.creator %}" class="user-link">{{ post.creator }}</a></span>
        <h3 class="post-content">{{ post.content }}</h3>
        {% if user.is_authenticated %}
            {% if user in post.likes.all %}
                <span class="heart-liked" data-post-id="{{ post.id }}">
                    &hearts;
                </span>
            {% else %}
                <span class="heart" data-post-id="{{ post.id }}">
                    &hearts;
                </span>
            {% endif %}
        {% else %}
            <span class="heart-unlikable" data-post-id="{{ post.id }}">
                &hearts;
            </span>
        {% endif %}
        <span class="likes"> {{ post.likes.count }}</span>
        <p>
        <span>{{ post.timestamp }}</span>
        {% if user.is_authenticated and post.creator == request.user %}
            <button class="edit-button" data-post-id="{{ post.id }}">Edit</button>
        {% endif %}
        </p>

    </div>
    {% empty %}
    <h3>No posts at the moment</h3>
{% endfor %}

<div class="pagination text-center">
    <span class="step-links">
        <ul class="pagination justify-content-center">
        {% if all_posts.has_previous %}
            <li class="page-item"><a href="?page={{ all_posts.previous_page_number }}" class="page-link">previous</a></li>
        {% endif %}
        {% if all_posts.has_next %}
            <li class="page-item"><a href="?page={{ all_posts.next_page_number }}" class="page-link">next</a></li>
        {% endif %}
        </ul>
    </span>
</div>