{% for post in all_posts %}
    <div class="post">
        <span><a href="{% url 'user_account' post.creator %}" class="user-link">{{ post.creator }}</a></span>
        <h3 class="post-content">{{ post.content }}</h3>
        <span class="heart">&hearts;</span><span class="likes"> {{ post.likes }}</span>
        <p>
        <span>{{ post.timestamp }}</span>
        {% if user.is_authenticated and post.creator == request.user %}
            <button class="edit-button">Edit</button>
        {% endif %}
        </p>

    </div>
    {% empty %}
    <h3>No posts at the moment</h3>
{% endfor %}