{% for post in all_posts %}
    <div class="post">
        <span><a href="{% url 'user_account' post.creator %}" class="user-link">{{ post.creator }}</a></span>
        <h3 class="post-content">{{ post.content }}</h3>
        {% if user.is_authenticated %}
            {% if user in post.likes.all %}
                <span class="heart-liked" data-post-id="{{ post.id }}">
                    &hearts;
                </span>
            {% else %}
                <span class="heart" data-post-id="{{ post.id }}">
                    &hearts;
                </span>
            {% endif %}
        {% else %}
            <span class="heart-unlikable" data-post-id="{{ post.id }}">
                &hearts;
            </span>
        {% endif %}
        <span class="likes"> {{ post.likes.count }}</span>
        <p>
        <span>{{ post.timestamp }}</span>
        {% if user.is_authenticated and post.creator == request.user %}
            <button class="edit-button" data-post-id="{{ post.id }}">Edit</button>
        {% endif %}
        </p>

    </div>
    {% empty %}
    <h3>No posts at the moment</h3>
{% endfor %}