/* Body */

.body {
    margin: 20px;
}


/* Display posts */

.post {
    border: solid rgb(209, 209, 209) 1px;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
}

.post textarea {
    width: 100%;
    height: 80px;
}

.user-link {
    color: rgb(105, 105, 105);
}

.edit-button {
    background-color: grey;
    border: 1px solid grey;
    border-radius: 5px;
    color: white;
    font-size: 14px;
}

.edit-button:hover {
    background-color: rgb(150, 150, 150);
}

.save-button {
    background-color: rgb(96, 170, 73);
    border: 1px solid rgb(96, 170, 73);
    border-radius: 5px;
    color: white;
    font-size: 14px;
}

.save-button:hover {
    background-color: rgb(62, 141, 37);
}

/* LIKES */

    /* TODO - make animation when user likes the post and unlikes */

.heart {
    font-size: 28px;
    color: rgb(112, 112, 112);
}

.heart:hover {
    cursor: pointer;
    color: rgb(207, 84, 84);
}

.likes {
    color: rgb(0, 0, 0);
    font-size: 28px;
}

/* Display user's profile */

#profile-div {
    text-align: center;
}

.bold {
    font-weight: bold;
}